<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <title>Available Questions</title>
</head>
<body>
<div class=box>
{% if latest_question_list %}
    <ul>
        <h2>Select a question</h2>
    {% for question in latest_question_list %}
        {% if question.choice_set.all %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
    </div>
</body>
</html>