<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
            {% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <title>Vote results</title>
</head>
<body>
<div class=box>
<h2>{{ question.question_text }}</h2>

<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
{% endfor %}
</ul>

<a href="{% url 'polls:detail' question.id %}">Vote again?</a>
    </div>
</body>
</html>