<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-language" content="en">

    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/Light-IT-logo.ico" %}"/>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../bower_components/seiyria-bootstrap-slider/css/bootstrap-slider.css" rel="stylesheet">


    <link rel="stylesheet" type="text/css"
          href="{% static "textinputeffects/fonts/font-awesome-4.2.0/css/font-awesome.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "textinputeffects/css/set1.css" %}"/>
    <link href="{% static "css/index.css" %}" rel="stylesheet">

    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static "js/jquery.sticky.js" %}"></script>
    <script type="text/javascript"
            src="http://digitalbush.com/wp-content/uploads/2013/01/jquery.maskedinput-1.3.1.min_.js"></script>
    <script type="text/javascript" src="{% static "js/page-load.js" %}"></script>

    <script type="text/javascript" src="{% static "textinputeffects/js/classie.js" %}"></script>


    <title>{% block title %}Python Lab | Курсы программирования на языке Python от компании
        Light-IT    {% endblock %}</title>

</head>
<body>


{% block start %}
    <div id="header" class="header">

        <img src={% static "img/Light-IT1.png" %}>
        {% block buttonToDown %}

        {% endblock %}
    </div>

{% endblock %}

{% if message %}
    <div class="popup" id="{{ message.title }}">

        <p>{{ message.text | safe }}</p>
    </div>
{% endif %}


{% block content %}
{% endblock %}

</body>
</html>