<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <p><b>Applicant: </b>  {{ applicant }}</p>
    <p><b>Phone: </b>  {{ phone }}</p>
    <p><b>Email: </b>  {{ email }}</p>
</div>



</body>
</html>