{% extends "base_template.html" %}
{% load staticfiles %}


{% block buttonToDown %}
    <div id="toElemButton"><a id="toElem" class="scroll-down scroll-to bounce">
        <span class="fa fa-angle-down animated bounce" data-effect="bounce"></span>
    </a></div>
{% endblock %}

{% block content %}
    <div class="sticky-menu" id="sticker">
        <div class="row row-header">

            <img id="toHome" src={% static "img/Light-IT.png" %}>

            <span id="toRegistrationForm">ЗАРЕГИСТРИРОВАТЬСЯ СЕЙЧАС</span>

        </div>
    </div>



    <div class="container-fluid">
        <div class="col-md-12">

            {% for paragraph in paragraphs %}
                <div class="row row-context">
                    <div class="paragraph-container">
                        {% if forloop.counter == 1 %}
                            <img src="{% static "img/HYk1WIb.png" %}">
                        {% endif %}

                        <div>{{ paragraph.title }}</div>
                    </div>
                </div>
                <div class="paragraph-text"> {{ paragraph.text | safe }}</div>
                {% if forloop.counter == 2 %}
                    <div class="table-responsive-style">
                        <table class="table table-bordered">
                            {% for category in categories %}


                                <thead>
                                <tr>
                                    <td colspan="2">
                                        {{ category.title }} </td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for subcategory in category.subcategory_set.all %}
                                    <tr>

                                        <td>{{ subcategory }}</td>

                                        <td>
                                            <ul>
                                                {% for point in subcategory.point_set.all %}
                                                    <li>{{ point }}</li>
                                                {% endfor %}
                                            </ul>
                                        </td>


                                    </tr>
                                {% endfor %}
                                </tbody>

                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
            {% endfor %}


            <div id="registrationForm" class="form-wrapper">
                <form action="" method="post" id="id_questionnaire" name="questionnaire">
                    {% csrf_token %}
                    <h3>Расскажите о себе:</h3>


                    <div class="row">
                        <div class="group group-left-part">

                <span class="input input--hoshi">
					<input name="name" class="input__field input__field--hoshi" type="text" id="id_name"
                           maxlength="30" required/>
					<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="id_name">
                        <span class="input__label-content input__label-content--hoshi">Имя</span>
                    </label>
				</span>
                        </div>
                        <div class="group group-right-part">
                       <span class="input input--hoshi">
					<input name="surname" class="input__field input__field--hoshi" type="text" id="id_surname"
                           maxlength="30" required/>
					<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="id_surname">
                        <span class="input__label-content input__label-content--hoshi">Фамилия</span>
                    </label>
				</span>
                        </div>
                    </div>
                    <div class="row group">
                    <span class="input input--hoshi">
					<input name="email" class="input__field input__field--hoshi" type="email" id="id_email"
                           maxlength="50" required/>
					<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="id_email">
                        <span class="input__label-content input__label-content--hoshi">Email</span>

                    </label>
				</span>


                    </div>

                    <div class="row group">
                                       <span class="input input--hoshi">
					<input name="phone_number" class="input__field input__field--hoshi" type="text" id="id_tel"
                           maxlength="10"/>
					<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="id_tel">
                        <span class="input__label-content input__label-content--hoshi">Телефон</span>

                    </label>
				</span>


                    </div>

                    <div class="row">

                    </div>


                    <div class="row group slider-row">
                        <div class="slider-title">Возраст</div>
                        <div class="slider-group">

                            <div class="range">
                                <input id="id_age" name="age" type="range" min="18" max="30" value="24"
                                       onchange="age_range.value=value">
                                <output id="age_range">24</output>

                            </div>

                        </div>
                    </div>

                    <h3>Оцените свои знания по пятибальной шкале:</h3>

                    <h3 class="sub-h3">1 - слышал название, 5 - знаю всё</h3>
                    {% for skill in skills %}

                        <div class="row group slider-row">
                            <div class="slider-title">{{ skill }}</div>
                            <div class="slider-group">

                                <div class="range">
                                    <input id="id_{{ skill }}" name="mark_{{ skill }}" type="range" min="1" max="5"
                                           value="3"
                                           onchange="{{ skill }}_range.value=value">
                                    <output id="{{ skill }}_range">3</output>

                                </div>

                            </div>
                        </div>



                    {% endfor %}
                    <div id="checkbox-group" class="row">

                        <div class="col-sm-6"><label class="checkbox-label"><input type="checkbox"
                                                                                                   id="id_student"
                                                                                                   name="is_student">Я
                            студент</label></div>

                        <div class="col-sm-6"><label class="checkbox-label"><input type="checkbox"
                                                                                                  id="id_job_applicant"
                                                                                                  name="is_job_applicant">Я
                            хочу у вас
                            работать</label></div>


                    </div>
                    <button id="save" class="btn btn-primary btn-block btn-lg" type="submit" name="submit"
                            tabindex="13">
                        Присоединиться
                    </button>
                </form>
            </div>

            <div class="footer">

                <a href="http://light-it.net/" target="_blank">
                    <img src={% static "img/Light-IT1.png" %}>
                </a>

                <p>
                    You Gotta Love
                    <a href="https://www.python.org/" target="_blank">Python</a>
                </p>
            </div>
        </div>
    </div>
    <a href="#" class="back-to-top" onfocus="this.blur();"><span>&#94;</span></a>

{% endblock %}