<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel=stylesheet href=/static/style.css type=text/css>
    <title>Fractal Flame</title>
</head>
<body>
<h2>The image based on the fractal flame algorithm</h2>
    {% if image %}
        <img src="{{ image }}">
    {% endif %}

</body>
</html>

