<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel=stylesheet href=/static/style.css type=text/css>
    <title>Fractal Flame</title>
</head>
<body>
<div class=box>
<h2>The fractal flame algorithm implementation</h2>

<form method="post" action="draw_image">

    <p align="center">Horizontal resolution:<br><input type="text" name="x_res" value="{{ x_res }}" /></p>
    <p>Vertical resolution:<br><input type="text" name="y_res" value="{{ y_res }}" /></p>
    <p>Samples number:<br><input type="text" name="samples" value="{{ samples }}" /></p>
    <p>Iterations number<br><input type="text" name="iterations" value="{{ iterations }}" /></p>
    <p>Random seed<br><input type="text" name="seed" value="{{ seed }}" /></p>
    <p><select size="1" name="transformation_type">
        <option selected value="0">Linear</option>
        <option value="1">Spherical</option>
        <option value="2">Swirl</option>
        <option value="3">Handkerchief</option>
        <option value="4">Heart</option>
        <option value="5">Disk</option>
        <option value="6">Spiral</option>
        <option value="7">Hyperbolic</option>
        <option value="8">Diamond</option>
        <option value="9">Ex</option>
        <option value="10">Cylinder</option>
        <option value="11">Tangent</option>
        <option value="12">Cross</option>
    </select></p>
    <p><input type="submit" value="Draw image"></p>
    {% if error %}
      <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
</form>
</div>
</body>
</html>

