body        { background: #CCCCCC; margin: 0; padding: 0;
                text-align: center; font-family: 'Helvetica Neue', Arial,
                    sans-serif; font-weight: 300; }
input,
select      { width: 250px; font-size: 18px; }


.box        { width: 500px; margin: 60px auto; padding: 20px;
                background: white; box-shadow: 0 1px 4px #BED1D4;
                 border-radius: 2px}

p           {color: #333333;font-size: 20px;}

h2          { font-weight: strong; font-size: 24px; margin: 0;
                color: #800000; }

div         { overflow: auto; padding: 4px 10px; margin: 5px 0;
                background: #CCCCCC; }

.error      { background: #CCCCCC; padding: 3px 8px; color: #800000;
                font-size: 18px; border-radius: 2px; }

