body {

  margin-bottom: 60px;

    background: linear-gradient(0deg, rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("../images/back.jpg")  repeat;
    background-size: cover;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 400;
    height: 100%;

}


html {
  position: relative;
  min-height: 100%;
    margin-bottom: 0;
   }



body > .container {
  padding: 60px 15px 0;
    min-height: 100%;
    position: relative;
      height: auto;
}
