.inner-div {
    margin: 4%;
}

.tr-images{
    margin-right: 10px;
    margin-left: 10px;
    border: solid;
    border-color: white;
    border-width: 9px;
align-self: center;
}

.table-images
{
    width: 100%;
    align-self: center;

}
.table-titles{
    text-align: center;
}

