.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}



.container .text-muted {
  margin: 10px 0;
    text-align: center;
}

.footer > .container {
  padding-right: 10px;
  padding-left: 10px;
    background-color:#5f7022;
    background-image:-moz-linear-gradient(top,#5f7022,#394314);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#5f7022),to(#394314));
    background-image:-webkit-linear-gradient(top,#5f7022,#394314);
    background-image:-o-linear-gradient(top,#5f7022,#394314);
    background-image:linear-gradient(to bottom,#5f7022,#394314);
    background-repeat:repeat-x;border-color:#394314;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222',endColorstr='#ff111111',GradientType=0);
    color:#e6f0f9;
    width:100%;
}


.container .text-muted {
  margin: 10px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}