.navbar .brand {font-weight: 400;
    text-align: right}
input,button,select,textarea{font-family:Verdana, Geneva, sans-serif}

.navbar-inverse .navbar-inner{
    background-color:#291d27;
    background-image:-moz-linear-gradient(top,#5a475a,#241A23);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#5a475a),to(#241A23));
    background-image:-webkit-linear-gradient(top,#5a475a,#241A23);
    background-image:-o-linear-gradient(top,#5a475a,#241A23);
    background-image:linear-gradient(to bottom,#5a475a,#241A23);
    background-repeat:repeat-x;border-color:#5a475a;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222',endColorstr='#ff111111',GradientType=0)
}
.navbar .brand{float:left;display:block;padding:10px 20px 10px;margin-right:10px;width:30%;font-size:20px;font-weight:200;color:#777;text-shadow:0 1px 0 #fff}

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 80%;
}

.navbar .nav{ color:#777; border-style: none none none solid; padding:0 20px 0;font-size: 16px;position:relative;display:block;float:left;}

a:hover,a:focus{color:#fff;text-decoration:none}
a{color:#777;text-decoration:none}

.brand > a:hover, a:focus{
    color:#fff !important;
}