.panel-heading, .panel-body {
    border: 2px solid #8d9771;
    border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
    -webkit-border-radius: 10px 10px;
    box-shadow: 2px 2px 3px #999;
    -webkit-box-shadow: 2px 2px 3px #999;
    -moz-box-shadow: 2px 2px 3px #999;

}

.panel-heading {
    text-align: right;

    background-color: #cad9a2;
    color: #5f7022;

    margin-top: 2%;

}

.panel-body {
    text-indent: 5%;
    text-align: justify;

}

.note-title {
    color: #5f7022;

}

a:hover, a:focus > .note-title:hover, .note-title:focus {
    color: #291d27;
}

.h-title {
    text-align: right;
    background: #ffffff;
    border: 4px solid #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    color: #5f7022;
    padding-right: 3%;

}

.h-title-profile {
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}

.button-container {

    text-align: center;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    display: table;
    border-spacing: 15px 0;
    margin-top: 0;
    margin-bottom: 1%;

    background: #ffffff;
    border: 4px solid #ffffff;

    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

}

.select-style {
    font-size: 20px;

}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: rgba(95, 112, 34, 0.8) !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(95, 112, 34, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(95, 112, 34, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(95, 112, 34, 0.6);
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.select2-container .select2-selection--single:focus {
    border-color: rgba(95, 112, 34, 0.8) !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(95, 112, 34, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(95, 112, 34, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(95, 112, 34, 0.6);
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;

}

.select2-container .select2-selection--single {
    min-height: 32px;
}

.p-title-note {
    text-align: right;

    background-color: #d4d1d3;
    border: none;
    line-height: 30px;
    padding-left: 2%;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    color: #291d27;

}

.modal {
    display: none;
    overflow-y: auto;

}

.modal-body {
    background-color: #d4d1d3;
    margin-top: 0;

}

.modal-header {
    border-color: #777777;
    border-bottom: medium groove;
    color: #5f7022;
}

.note-body {
    padding-bottom: 0;
}

.button-div {

    width: 10%;
    display: table-cell;
    padding: 1% 0;

}

.panel-group {
    float: right;
    width: 63%;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    border-spacing: 15px 0;
    margin-top: 0;
    margin-bottom: 3%;

    background: #ffffff;
    border: 4px solid #ffffff;

    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    height: 100%;
    padding: 1% 1%;
    max-height: 520px;
    overflow-y: auto;
}

.btn-primary-control {
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff, #e5e5e5);
    color: #291d27;
    border-left: none;
    border-right: none;

}

.btn-primary-control:hover, .btn-primary-control:focus, .btn-primary-control:active, .btn-primary-control.active, .btn-primary-control.disabled, .btn-primary-control[disabled] {
    background-color: #e5e5e5;
    color: #5f7022;

}

.children {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0;

}

.nav-header {

    padding-left: 10%;
    color: #6b6b6b;

}

.tree-div {
    padding: 5%;
    border-bottom: groove;
    max-height: 260px;
    overflow-y: auto;

}

.tag-div {
    padding: 5%;
    text-align: justify;
    max-height: 260px;
    overflow-y: auto;

}

.right-column {
    float: left;
    width: 32%;
    text-align: left;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    border-spacing: 15px 0;
    margin-top: 0;
    margin-bottom: 3%;

    background: #ffffff;
    border: 4px solid #ffffff;

    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

    position: relative;

}

.nav-header {
    font-size: 13px;
}

a {
    cursor: pointer;
}

.note-tag {
    text-align: left;
    height: 30px;

    background-color: #d4d1d3;
    border: none;
    padding-left: 2%;
    margin: 0;

    border-bottom: 1px solid #ddd;
    color: #291d27;

}

.note-header {
    width: 95%;
    height: 100%;
    border-bottom: thin groove;
    padding-left: 5%;

}

a.tree-toggler {
    color: #fff;
    font-size: 16px;
}

.data-time {
    font-size: 10px;

    width: 50%;
    float: left;
}

.note-title-input:focus:invalid:focus {
    border-color: rgba(95, 112, 34, 0.8) !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(95, 112, 34, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(95, 112, 34, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(95, 112, 34, 0.6);
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    color: #555555;
}

.author-block {
    text-align: right;

    font-size: 12px;
    width: 50%;
    float: right;

}

.data-container {
    height: 20px;

    color: #291d27;
}

li.all {

    list-style-type: disc;
}

label.all-categories {
    color: #6b6b6b;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    margin-left: -15px;
}

.input-group-addon{
    margin-right: 2%;


}

span.input-group-addon > input{
margin-top: -1%;
}

.checkbox-label{
 margin-top: 6%;
    font-size: 16px;
}

.image-container, .image-small-container{
    margin-left: auto;
    margin-right: auto;
}
.image-container{
    width: 70%;
}
.image-small-container{
    width: 40%;
}
.note-image{
    max-width: 100%;
    max-height: 100%;
}