li a {
    color: #290029;
}
h2 {
color: #660066;
text-align: center;

}
body {
    background: white url("images/background.jpg") no-repeat;
    background-size: 100%;
}
.box        { width: 400px; margin: 60px auto; padding: 20px;
                background: #FFFFFF; box-shadow: 0 1px 4px 	#BFB2BF;
                 border-radius: 2px}