html, body {
    height: auto;
    margin: 0;
    overflow-y: auto;
    font-family: "BebasNeueRegular", sans-serif;
    font-size: 18px;
    color: #000000;
    overflow-x: hidden;
}

.header {

    background-image: url("../../static/img/Test-2.jpeg");
    background-size: cover;
    position: static;
    width: 100vw;
    height: 100vh;
    text-align: center;

}

.header img {
    margin-top: 15%;
    height: auto;
    max-width: 60%;

}

.sticky-menu {

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 100%;
    position: relative;
    z-index: 1000;
    margin: 0;
    display: table;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #fff;

}

.row-header {
    display: table-cell;
    vertical-align: middle;
    height: 100px;
    margin-left: 15%;

}

.sticky-menu img {

    max-height: 3vw;
    padding-left: 3%;
    vertical-align: middle;
    height: auto;
    float: left;

}

.sticky-menu span {
    font-size: 1vw;
    font-weight: bold;
    border: 1px solid #bcd;
    color: #428bca;
    padding: 15px;
    vertical-align: middle;
    float: right;

}

.sticky-menu span:hover, .sticky-menu img:hover {
    cursor: pointer;
}

.paragraph-container div {
    color: #428bca;
    font-size: 2vw;
    font-weight: bold;
    text-align: right;
    margin-right: 0;
    width: 60%;
    float: right;

}

.paragraph-container img {
    width: 15vw;
    vertical-align: middle;

}

.container-fluid{
    max-width: 70%;
}

.row-context {
    margin: 3% 0;

}

.row-header {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.paragraph-text {
    margin: 0;
    border: none;
    text-align: justify;
}

table tr td:first-child {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    width: 40%;

}

table thead tr td {
    color: #428bca;
    font-size: 1.5vw;
}

ul {
    margin: 3% 3% 3% 0;
    list-style-type: circle;
}

.back-to-top {

    position: fixed;
    bottom: 2%;
    right: 1%;
    text-decoration: none;
    color: snow;
    background-color: rgba(81, 90, 95, 0.80);
    font-size: 2.5vmin;
    font-weight: bolder;
    line-height: 5vmin;
    display: block;
    border-radius: 5vmin;
    height: 5vmin;
    width: 5vmin;
    text-align: center;

    border: 2px solid #ffffff;

}

.back-to-top:hover {
    background-color: rgba(40, 45, 47, 1);
    text-decoration: none;
    color: snow;
}

.back-to-top:focus {
    background-color: rgba(81, 90, 95, 0.80);
    text-decoration: none;
    color: snow;
}

#id_questionnaire input:invalid {

    box-shadow: none;

}

.input__label {
    font-size: inherit;
}

.input__label--hoshi::before,
.input__label--hoshi::after {

    height: 100%;
    margin-left: 0;

}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
    color: hsl(208, 56%, 53%);

}

.input {

    max-width: 100%;
    width: 100%;
    margin: 0;
}

.input__field--hoshi {

    color: inherit;
}

.input__label {
    color: inherit;
    font-weight: inherit;
}

.input__label--hoshi-color-1::after {
    border-color: hsl(208, 56%, 53%);
}

.form-wrapper {
    border: 1px solid #ccc;
    padding: 30px 20px;

}

.form-wrapper h3 {
    text-align: center;
    padding-top: 5%;
    font-size: 1.5vw;
}

.group-left-part {
    float: left;
    width: 40%;
}

.group {

    position: relative;
}

.group-right-part {
    float: right;
    width: 40%;

}

.group div.start, .group div.end {
    width: 5%;

}

.group div.start {
    float: left;
    text-align: left;
}

.group div.end {
    float: right;
    text-align: right;
}

.slider-title {
    float: left;
    width: 20%;
    text-align: center;
    height: 100%;
}

.slider-group {
    float: right;
    width: 75%;
}

.form-wrapper .sub-h3 {
    color: #999;
    padding-top: 0;

}

.form-wrapper .row {

}

#registrationForm #checkbox-group {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.checkbox-label{
    font-weight: normal;
}

.checkbox-label input{
    margin-right: 5px;
    vertical-align: middle;
}
.table-responsive-style{

  min-height: .01%;
  overflow-x: auto;

}

a.scroll-down span {
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: block;
    font-size: 4vmin;
    height: 7vmin;
    line-height: 7vmin;
    margin: 10px auto 0;
    position: relative;
    text-align: center;
    width: 7vmin;
    z-index: 1000;
}

.bounce {
    animation-name: bounce;
    -webkit-animation: bounce 5s infinite;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

a.scroll-down {
    color: #ffffff;

}

a.scroll-down:hover {
    text-decoration: none;
    cursor: pointer;
}

.header div {
    margin-top: 10%;
}

#registrationForm .row {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;

}


.btn {
    background-color: #428bca;
    margin-top: 5%;
}

.footer img {
    width: 8%;

}

.footer {
    text-align: center;
    margin-top: 6%;
}

.footer p {
    text-align: center;
    font-size: 2vmin;
}

.popup {

    right: 0;
    left: 0;
    z-index: 500;
    margin: 0;
    width: 100%;
    height: auto;
    max-height: 100px;
    position: fixed;
    border: 1px solid #ccc;
    background: rgba(254, 254, 254, 0.7);
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    top: 0;
    visibility:visible;


}

.popup p {

    color: #4c4c4c;
    font-size: 18px;
    font-weight: bold;
}

.popup a {
     color: #428bca;
    font-weight: normal;
}

.popup a:hover{
    text-decoration: none;
    font-weight: bold;
}

.range {
    display: table;
    position: relative;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
    width: 100%;
}

.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 25px;
    cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 20px;
    height: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #fff;
    border: solid #428bca;
    border-radius: 50%;
    margin-top: -4px;

}


.range input[type="range"]::-moz-range-thumb {

    width: 16px;
    height: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50%;

    background-color: #fff;
    border: solid #428bca;

}

.range input[type="range"]::-moz-range-track {
    background-image: -webkit-linear-gradient(top, #fff 90%, #b9c1ca 10%);
    background-image: -o-linear-gradient(top, #fff 90%, #b9c1ca 10%);
    background-image: linear-gradient(to bottom, #fff 90%, #b9c1ca 10%);
height: 5px;
}

.range input[type="range"]::-webkit-slider-runnable-track{
    background-image: -webkit-linear-gradient(top, #fff 90%, #b9c1ca 10%);
    background-image: -o-linear-gradient(top, #fff 90%, #b9c1ca 10%);
    background-image: linear-gradient(to bottom, #fff 90%, #b9c1ca 10%);
    height: 5px;
}

.range output {
    display: table-cell;
    width: 10%;
    height: 30px;
    color: #000;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 30px;
    font-size: inherit;
    padding-top: 0;

}
.range input[type="range"] {
    outline: none;

}

@media only screen and (max-width: 750px) {
    body, html {
        font-size: 3vmin;
    }

    .sticky-menu {

        height: 50px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .sticky-menu span {
        font-size: 2.5vw;
    }

    .sticky-menu img {
        max-height: 5vw;
        margin-top: 2.5%;
    }

    .popup {
        padding-top: 5vw;

    }

    .popup p {
        font-size: 2vmin !important;
    }

    .paragraph-container img {
        width: 18vmin;
    }

    .paragraph-container div, table thead tr td:first-child, .form-wrapper h3 {
        font-size: 3.5vmin;
    }

    ul {
        margin-left: -20px;
    }


    .btn-lg, .btn-group-lg > .btn {
        border-radius: 6px;
        font-size: 2vh;
        line-height: 1.5vh;
        padding: 1vh 2vh;

    }


    .container-fluid {
        max-width: none;
    }

    .row-header {
        height: 50px;
    }

    .range input[type="range"]::-moz-range-thumb {

            width: 1vh;
        height: 1vh;
    }
    .range input[type="range"]::-webkit-slider-thumb {
            width: 2vh;
        height: 2vh;
        margin-top: -0.4vh;
    }

    .col-sm-6{
   margin-top: 1.5vh;
    }

}

