<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-language" content="en">

    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}
    <title>SDiary | {% block title %}{% endblock %} </title>
    <link href="{% static "notes/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "notes/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "notes/css/base.css" %}" rel="stylesheet">
    <link href="{% static "notes/css/carousel.css" %}" rel="stylesheet">
    <link href="{% static "notes/css/header.css" %}" rel="stylesheet">
    <link href="{% static "notes/css/authorization.css" %}" rel="stylesheet">
    <link href="{% static "notes/css/footer.css" %}" rel="stylesheet">
    <link href="{% static "notes/css/notes.css" %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static "notes/bootstrap/js/bootstrap.js" %}" type="text/javascript"></script>

    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="{% static "notes/bootstrap/js/select.js" %}" type="text/javascript"></script>


    <link href="{% static "notes/bootstrap/css/bootstrap-tag-cloud.css" %}" rel="stylesheet">
    <script src="{% static "notes/bootstrap/js/bootstrap-tag-cloud.js" %}" type="text/javascript"></script>

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <div class="brand">

                {% if user.is_authenticated %}
                    {{ user }}'s
                {% else %}
                    Your
                {% endif %}
                Scribbling Diary

            </div>
            <div id="navbar" class=" nav-collapse">

                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>

                    {% if user.is_authenticated %}
                        <li><a href="/profile">Diary</a></li>
                        <li><a href="/logout">Log Out</a></li>

                    {% else %}

                        <li><a href="/login">Log In&nbsp;</a></li>


                    {% endif %}

                    <li><a href="/">Contact</a></li>
                </ul>
            </div>

        </div>
    </div>

</div>

<div class="container container-style">
    {% block content %}Empty page{% endblock %}
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">Made in Ukraine <br>© 2015</p>
    </div>
</footer>


</body>
</html>