{% extends 'notes/profile.html' %}
{% block title %}Reading{% endblock %}
{% block header %}
    Notes for reading
{% endblock %}
{% block all_categories %}
    <li class="all">
        <ul><label class="all-categories">All categories <a class="tree-toggler"
                                                            href="{% url 'category_search'  'all' %}">&emsp;&#8811;</a></label>
        </ul>
    </li>
{% endblock %}

{% block button_available %}
    <div class="button-div">
        <button class="btn btn-lg btn-primary-control btn-block " disabled type="button">Add
        </button>
    </div>
    <div class="button-div">
        <button class="btn btn-lg btn-primary-control btn-block " disabled type="button">Delete
        </button>
    </div>
    <div class="button-div">
        <button class="btn btn-lg btn-primary-control btn-block " disabled type="button">Edit
        </button>
    </div>
{% endblock %}

{% block button-read %}
    <button class="btn btn-lg btn-primary-control btn-block " onclick="location.href='/profile'" type="button">My
        notes
    </button>
{% endblock %}

{% block author %}

    {% for item in authors %}
        <div class="author-block">
            {% if note.id == item.note %}
                Author: {{ item.author }}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}


{% block tag_search_note %}
    <a href="{% url 'tag_search'  tag.title %}">#{{ tag.title }}</a>
{% endblock %}

{% block tag_search_cloud %}
    <a href="{% url 'tag_search'  tag.title  %}">
{% endblock %}

{% block category_search_list %}
    <a class="tree-toggler" href="{% url 'category_search'  node.title   %}">
{% endblock %}

{% block category_search_note %}
    <a href="{% url 'category_search'  category.title  %}">
{% endblock %}