{% extends 'notes/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    {% load staticfiles %}



    <link rel="stylesheet" href="{% static "notes/css/flexslider.css" %}" type="text/css" media="screen">
    <script src="{% static "notes/js/jquery.flexslider.js" %}" type="text/javascript"></script>
    <script src="{% static "notes/js/carousel.js" %}" type="text/javascript"></script>

    <h1 class="h-title">Create your own Diary. Try it.</h1>
    <div class="flexslider">
        <ul class="slides">
            {% for row in images %}
                {% for image in row %}
                    {% if forloop.counter != 1 %}
                        {% with "notes/images/"|add:image|add:".jpg" as src %}
                            <li><img src="{% static src %}" class="tr-images" alt="Image{{ image }}">
                                {% if forloop.counter == 2 %}
                                    <p class="flex-caption">{{ row.0 }}</p>
                                {% endif %}


                            </li>
                        {% endwith %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    </div>

{% endblock %}
