<form enctype="multipart/form-data"  method="post" action="" >
    <input class="form-control note-title-input " type="text" id="id_title_get" maxlength="20"
           name="title" placeholder="Title" required autofocus value="{{ note.title }}"/>
                <textarea maxlength="1500" class="form-control" style="resize: none" rows="10" cols="45" id="id_text"
                          name="text">{{ note.text }}</textarea>

    <p>
        {% if note.image %}
            <div class="image-small-container"><img class="note-image thumbnail" src="{{ note.image.url }}"/></div>
            <p>You may change the image</p>
        {% endif %}
    <input id="id_image" type="file" class="" name="image">

    </p>

    <p>Tags for your note</p>

    <p><select style="width: 100%;" class="js-example-tags" multiple="multiple" name="tags" id="id_tags">
        {% for tag in tags %}

            {% if tag in note.tags.all %}
                <option selected value="{{ tag.title }}">{{ tag.title }}</option>
            {% else %}
                <option value="{{ tag.title }}">{{ tag.title }}</option>
            {% endif %}
        {% endfor %}
    </select></p>
    <p>Categories for your note</p>

    <p><select style="width: 100%;" class="js-example-basic-multiple" multiple="multiple" name="categories"
               id="id_categories">
        {% for category in category_choosing %}
            {% if category in note.categories.all %}
                <option selected value="{{ category.id }}">{{ category.title }}</option>

            {% else %}
                <option value="{{ category.id }}">{{ category.title }}</option>
            {% endif %}
        {% endfor %}
    </select></p>
    <p>Your note color</p>

    <p><select style="width: 100%;" class="js-example-basic-single select-color" name="background_color"
               id="id_background_color">
        {% for color in colors %}

            {% if color == note.background_color %}
                <option selected value="{{ color.id }}">{{ color.title }}</option>

            {% else %}
                <option value="{{ color.id }}">{{ color.title }}</option>
            {% endif %}
        {% endfor %}
    </select></p>
    <p>Your text color</p>

    <p><select style="width: 100%;" class="js-example-basic-single" name="text_color" id="id_text_color">
        {% for color in colors %}

            {% if color == note.text_color %}
                <option selected value="{{ color.id }}">{{ color.title }}</option>

            {% else %}
                <option value="{{ color.id }}">{{ color.title }}</option>
            {% endif %}
        {% endfor %}
    </select></p>

    <p>Readers</p>

    <p><select style="width: 100%;" class="js-example-responsive" multiple="multiple" name="readers"
               id="id_friends">

        {% if user.account_friends.all|length > 0 %}
            <optgroup label="Friends">
                {% for person in user.account_friends.all %}
                    {% if person in readers %}

                        <option selected value="{{ person.id }}">{{ person.username }}</option>
                    {% else %}
                        <option value="{{ person.id }}">{{ person.username }}</option>
                    {% endif %}
                {% endfor %}
            </optgroup>
        {% endif %}
        {% if users.all|length > 0 %}
            <optgroup label="Other">
                {% for person in users %}
                    {% if person not in user.account_friends.all %}
                        {% if person in readers %}
                            <option selected value="{{ person.id }}">{{ person.username }}</option>
                        {% else %}
                            <option value="{{ person.id }}">{{ person.username }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </optgroup>
        {% endif %}
    </select></p>
</form>