{% extends 'notes/base.html' %}
{% block title %}Log In{% endblock %}
{% block content %}
    <div class="container">
        <form class="form-signin container-top" action="" method="post">
            <h2 class="form-signin-heading">Please log in</h2>
            {% csrf_token %}
            <input type="text" id="id_username" class="form-control" maxlength="30" name="username"
                   placeholder="Username" required autofocus/>
            <input type="password" id="id_password1" name="password" class="form-control" placeholder="Password"
                   required/>


            <button class="btn btn-lg btn-primary btn-block " type="submit">Log In</button>

            {% for error in form.non_field_errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            {% for error in  form.username.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            {% for error in  form.password.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}

        </form>
    </div>

    <div class="container ">
        <div class="form-signin container-bottom">
            <h3 class="form-signin-heading">Not registered yet?</h3>
            {% csrf_token %}
            <form action="/register">
                <button class="btn btn-lg btn-primary btn-block " type="submit">Register</button>
            </form>

        </div>
    </div>

{% endblock %}


