{% extends 'notes/base.html' %}

{% load mptt_tags %}
{% block title %}Profile{% endblock %}
{% block content %}
    <h1 class="h-title h-title-profile" xmlns="http://www.w3.org/1999/html">
        {% block header %}
            Your notes, {{ user }}
        {% endblock %}
    </h1>
    <div class="button-container">
        {% block button_available %}
            <div class="button-div">
                <button class="btn btn-lg btn-primary-control btn-block " type="button" data-toggle="modal"
                        data-target="#addNote">Add
                </button>
            </div>
            <div class="button-div">
                <button class="btn btn-lg btn-primary-control btn-block " type="button" data-toggle="modal"
                        data-target="#delNote">Delete
                </button>
            </div>
            <div class="button-div">
                <button class="btn btn-lg btn-primary-control btn-block " type="button" data-toggle="modal"
                        data-target="#editNote">Edit
                </button>
            </div>
        {% endblock %}

        <div class="button-div">
            {% block button-read %}
                <button class="btn btn-lg btn-primary-control btn-block " onclick="location.href='/i_read'"
                        type="button">I read
                </button>
            {% endblock %}

        </div>

        <div class="button-div">
            <button class="btn btn-lg btn-primary-control btn-block " type="button" data-toggle="modal"
                    data-target="#myFriends">
                My friends
            </button>
        </div>

        <div class="button-div">
            <button class="btn btn-lg btn-primary-control btn-block " type="button" data-toggle="modal"
                    data-target="#searchNote">
                Search
            </button>
        </div>
    </div>
    <div class="right-column">
        <div class="tree-div">

            <ul class="root nav nav-list">
                {% block all_categories %}
                    <li class="all">
                        <ul><label class="all-categories">All categories <a class="tree-toggler"
                                                                            href="{% url 'category_search'  'all' %}">&emsp;&#8811;</a></label>
                        </ul>
                    </li>
                {% endblock %}
                {% recursetree categories %}
                    <li>
                        <label class="tree-toggler nav-header">{{ node.title }}
                            {% block category_search_list %}
                                <a class="tree-toggler" href="{% url 'category_search'  node.title  %}">
                            {% endblock %}
                            &emsp;&#8811;</a></label>

                        {% if not node.is_leaf_node %}
                            <ul class="children nav nav-list tree ">
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>
        </div>

        <div class="tag-div">
            <p>
                {% for tag in tags %}
                    {% block tag_search_note %}
                        <a href="{% url 'tag_search'  tag.title  %}">#{{ tag.title }}</a>
                    {% endblock %}
                {% endfor %}
            </p>

        </div>
    </div>


    <div class="panel-group">
        {% if notes|length < 1 %}
            <h2 class="h-title h-title-profile">Oops! No notes</h2>
        {% endif %}
        {% for note in notes %}

            {% if notes|length == forloop.counter %}
                <div class="note-header" style="border: none"><h3><a data-toggle="modal"
                                                                     data-target="#currentNote{{ note.id }}">
                    &#9998;&emsp;{{ note.title }}</a></h3>


                </div>
            {% else %}
                <div class="note-header"><h3><a data-toggle="modal" data-target="#currentNote{{ note.id }}">
                    &#9998;&emsp;{{ note.title }}</a></h3></div>

            {% endif %}

            <div class="modal" id="currentNote{{ note.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="currentNoteLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="currentNoteLabel">{{ note.title }}</h3>

                    <div class="data-container">
                        <div class="data-time">{{ note.pub_date }}</div>
                        {% block author %}
                        {% endblock %}
                    </div>
                </div>
                <div class="h-title p-title-note">Categories:
                    {% for category in note.categories.all %}
                        {% if category != None %}
                            {% block category_search_note %}
                                <a href="{% url 'category_search'  category.title %}">
                            {% endblock %}
                        {{ category.title }}
                        {% if note.categories.all|length != forloop.counter %}
                            {% if note.categories.all|length > 1 %}
                                |
                            {% endif %}
                        {% endif %}
                        </a>

                        {% endif %}
                    {% endfor %}
                </div>
                <div class="modal-body note-body"
                     style="background-color: {{ note.background_color.value }}; color:{{ note.text_color.value }}">

                    <div class="inner-div"> {{ note.text }} </div>

                    {% if note.image %}
                    <div class="image-container"><img class="note-image thumbnail" src="{{ note.image.url }}" /></div>
                    {% endif %}
                </div>
                <div class="note-tag ">
                    <ul id="tag-cloud">
                        {% for tag in note.tags.all %}
                            {% if tag != None %}
                                {% block tag_search_cloud %}
                                    <a href="{% url 'tag_search'  tag.title  %}">
                                {% endblock %}
                            <li class="tag-cloud">#{{ tag.title }}</li></a>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>


            </div>

        {% endfor %}

    </div>


    <div class="modal" id="addNote" tabindex="-1" role="dialog" aria-labelledby="addNoteLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="addNoteLabel">Add a note</h3>
        </div>
        <div class="modal-body">
            <form enctype="multipart/form-data" id="addNewNote" class="form-signin" action={% url 'add_note' %} method="post">
                {% csrf_token %}
                <input class="form-control note-title-input " type="text" id="id_title" maxlength="20" name="title"
                       placeholder="Title" required autofocus/>
                <textarea maxlength="1500" class="form-control" style="resize: none" rows="10" cols="45" id="id_text"
                          name="text" placeholder="Enter your text here"></textarea>

                    <p>
                        <input id="id_image" type="file" class="" name="image">
                    </p>

                <p>Tags for your note</p>

                <p><select style="width: 100%;" class="js-example-tags" multiple="multiple" name="tags" id="id_tags">
                    {% for tag in tags %}
                        <option value="{{ tag.title }}">{{ tag.title }}</option>
                    {% endfor %}
                </select></p>
                <p>Categories for your note</p>

                <p><select style="width: 100%;" class="js-example-basic-multiple" multiple="multiple" name="categories"
                           id="id_categories">
                    {% for category in category_choosing %}
                        <option value="{{ category.id }}">{{ category.title }}</option>
                    {% endfor %}
                </select></p>
                <p>Your note color</p>

                <p><select style="width: 100%;" class="js-example-basic-single" name="background_color"
                           id="id_background_color">
                    {% for color in colors %}
                        <option value="{{ color.id }}">{{ color.title }}</option>
                    {% endfor %}
                </select></p>
                <p>Your text color</p>

                <p><select style="width: 100%;" class="js-example-basic-single" name="text_color" id="id_text_color">
                    {% for color in colors %}
                        <option  value="{{ color.id }}">{{ color.title }}</option>
                    {% endfor %}
                </select></p>

                <p>Select readers</p>

                <p><select style="width: 100%;" class="js-example-responsive" multiple="multiple" name="readers"
                           id="id_friends">

                    {% if user.account_friends.all|length > 0 %}
                        <optgroup label="Friends">
                            {% for person in user.account_friends.all %}
                                <option value="{{ person.id }}">{{ person.username }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endif %}
                    {% if users.all|length > 0 %}
                        <optgroup label="Other">
                            {% for person in users %}
                                {% if person not in user.account_friends.all %}
                                    <option value="{{ person.id }}">{{ person.username }}</option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                    {% endif %}
                </select></p>


            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button form="addNewNote" class="btn btn-primary" type="submit">Save</button>
        </div>
    </div>

    <div class="modal" id="delNote" tabindex="-1" role="dialog" aria-labelledby="delNoteLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="delNoteLabel">Delete a note</h3>
        </div>
        <div class="modal-body">
            <form id="deleteNote" class="form-signin" action={% url 'del_note' %} method="post">
                {% csrf_token %}

                <p>Select note you want to delete</p>

                <p><select style="width: 100%;" class="js-example-basic-multiple" multiple="multiple" name="note"
                           id="id_note">
                    {% for note in notes %}
                        <option value="{{ note.id }}">{{ note.title }}</option>
                    {% endfor %}
                </select></p>

            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button form="deleteNote" class="btn btn-primary" type="submit">Delete</button>
        </div>
    </div>

    <div class="modal" id="editNote" tabindex="-1" role="dialog" aria-labelledby="editNoteLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="editNoteLabel">Edit a note</h3>
        </div>
        <div class="modal-body">
            <form  enctype="multipart/form-data" id="editTheNote" class="form-signin" action={% url 'edit_note' %} method="post">
                {% csrf_token %}

                <p>Select note you want to edit</p>

                <p><select style="width: 100%;" class="js-example-basic-multiple " name="note"
                           onchange="loadingNote(this.value)"
                           id="id_note_select">
                    {% for note in notes %}

                        <option value="{{ note.id }}">{{ note.title }}</option>
                    {% endfor %}
                </select></p>
                <div id="editNoteContainer">
                    {% include "notes/load_note.html" %}

                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button form="editTheNote" class="btn btn-primary" type="submit">Save</button>
        </div>
    </div>

    <div class="modal" id="myFriends" tabindex="-1" role="dialog" aria-labelledby="myFriendsLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myFriendsLabel">Your friends</h3>
        </div>
        <div class="modal-body">
            <form id="myFriendsNote" class="form-signin" action={% url 'define_friends' %} method="post">
                {% csrf_token %}

                <p>Find your friends</p>

                <p><select style="width: 100%;" class="js-example-responsive" multiple="multiple" name="friends"
                           id="id_friends">
                    {% for person in users %}
                        {% if person in user.account_friends.all %}

                            <option selected value="{{ person.id }}">{{ person.username }}</option>
                        {% else %}
                            <option value="{{ person.id }}">{{ person.username }}</option>
                        {% endif %}
                    {% endfor %}
                </select></p>

            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button form="myFriendsNote" class="btn btn-primary" type="submit">Save</button>
        </div>
    </div>

    <div class="modal" id="searchNote" tabindex="-1" role="dialog" aria-labelledby="searchNoteLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="searchNoteLabel">Find notes</h3>
        </div>
        <div class="modal-body">
            <form id="searchNotes" class="form-signin" action={% url 'search_notes' %} method="post">
                {% csrf_token %}

                <p>Keywords space separated:</p>

                <input class="form-control note-title-input " type="text" id="id_keywords" maxlength="40"
                       name="keywords_input"
                       placeholder="Enter your keywords" required autofocus/>


                <div class="input-group">

                    <label class="checkbox-label" aria-label="..."><span class="input-group-addon"><input
                            name="user_notes_check" type="checkbox" aria-label="..."></span>Notes of mine</label>


                </div>

                <div class="input-group">

                    <label class="checkbox-label" aria-label="..."><span class="input-group-addon"><input
                            name="read_notes_check" type="checkbox" aria-label="..."></span>Notes I'm allowed to
                        read</label>


                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button form="searchNotes" class="btn btn-primary" type="submit">Find</button>
        </div>
    </div>

{% endblock %}