{% extends 'notes/base.html' %}
{% block title %}Registration{% endblock %}
{% block content %}
    <div class="container">
        <form class="form-signin" action="" method="post">
            <h2 class="form-signin-heading">Sign Up</h2>
            {% csrf_token %}


            <input type="text" id="id_username" class="form-control" maxlength="15" name="username"
                   placeholder="Username" required autofocus/>
            <input type="password" id="id_password1" name="password1" class="form-control middlefield"
                   placeholder="Password" required/>
            <input type="password" id="id_password2" name="password2" class="form-control"
                   placeholder="Re-enter password" required/>


            <button class="btn btn-lg btn-primary btn-block " type="submit">Sign Up</button>

            {% for error in form.non_field_errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            {% for error in  form.username.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            {% for error in  form.password1.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            {% for error in  form.password2.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}


        </form>
    </div>


{% endblock %}